[%# descendant-tree-html.tmpl - a template for a descendant tree in HTML

    (c) 2014 David Haworth
   
    This file is part of DhG.
   
    DhG is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    DhG is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with DhG.  If not, see <http://www.gnu.org/licenses/>.

    $Id$
-%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
[% CARDBASE = "/family-history/cards" -%]

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="TheLancashireman" />
  <meta name="generator" content="DhG" />

  <link  href="/styles/family-history.css" rel="stylesheet" type="text/css" media="screen" /> 
  <script type="text/javascript" src="/styles/family-history.js"> </script>

  <title>The Lancashireman's family history</title>
</head>

<body>
  <div>
    <table class="pagehead">
      <tr class="pagehead">
        <td class="pagehead_left">
          <h1>The Lancashireman's family history</h1>
        </td>
        <td class="pagehead_right">
          <a href="http://www.forl.co.uk/graphics.php">
            <img style="border:0; width:100px; height:100px"
                 src="/images/forlrose01.gif"
                 alt="Red rose of Lancashire" />
          </a>
        </td>
      </tr>
    </table>
    <div id="menubar" />
  </div>

  <hr/>

  <h1>Descendants of [% title_name %][% IF title_years != "" %] ([% title_years %])[% END -%]</h1>
  <hr/>

  <div id="pagetorso" class="familytree">
[% mylevel = -1 -%]
[% i = 0 -%]
[% WHILE i < nlines -%]
[%   IF level.$i > mylevel -%]
[%     mylevel = level.$i -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]    <ul>
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]      <li class="branch">
[%   ELSE -%]
[%     WHILE level.$i < mylevel -%]
[%       j = 0; WHILE j < mylevel; "    "; j = j+1; END   %]      </li>
[%       j = 0; WHILE j < mylevel; "    "; j = j+1; END   %]    </ul>
[%       mylevel = mylevel - 1 -%]
[%     END -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]      </li>
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]      <li class="branch">
[%   END -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]        [% mylevel+1 %].&nbsp;&nbsp;
[%   IF name.$i == "Private" -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]        <span class="private"><a href="/family-history/private.html"><span class="private_mark"></span></a></span>
[%   ELSE -%]
[%     IF file.$i == "" -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]        [% name.$i %]
[%     ELSE -%]
[%     j = 0; WHILE j < mylevel; "    "; j = j+1; END     %]        <a href="[% CARDBASE %]/[% file.$i %].html">[% name.$i %]</a>
[%     END -%]
[%     IF spouse.$i != "" -%]
[%       j = 0; WHILE j < mylevel; "    "; j = j+1; END   %]        <span class="relation"><span class="relation_mark"></span></span>
[%       IF spouse_file.$i == "" -%]
[%         j = 0; WHILE j < mylevel; "    "; j = j+1; END %]        [% spouse.$i %]
[%       ELSE -%]
[%         j = 0; WHILE j < mylevel; "    "; j = j+1; END %]        <a href="[% CARDBASE %]/[% spouse_file.$i %].html">[% spouse.$i %]</a>
[%       END -%]
[%     END -%]
[%   END -%]
[%   i= i+1 -%]
[% END -%]
[% WHILE mylevel >= 0 -%]
[%   j = 0; WHILE j < mylevel; "    "; j = j+1; END       %]      </li>
[%   j = 0; WHILE j < mylevel; "    "; j = j+1; END       %]    </ul>
[%   mylevel = mylevel - 1 -%]
[% END -%]
  </div>

  <hr/>
  <table class="pagefoot">
    <tr class="pagefoot">
      <td class="pagefoot_left">
[% IF last_update != "" -%]
        Last updated [% last_update %]<br/>
[% END -%]
        &copy; David Haworth<br/>
        <a href="/about.html">About this site (Impressum)</a>.
      </td>
      <td class="pagefoot_centre">
        <a href="http://www.forl.co.uk/">
          <img style="border:0; width:384px; height:60px"
               src="/images/dont_say.gif"
               alt="Don't say Greater Manchester, Merseyside or Cumbria when you mean Lancashire" />
        </a>
      </td>
      <td class="pagefoot_right">
        <a href="https://validator.w3.org/check?uri=referer">
          <img src="/images/w3c-valid-xhtml11.png"
               alt="Valid XHTML 1.1" height="31" width="88" />
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0; width:88px; height:31px"
               src="/images/w3c-vcss-blue.gif"
               alt="Valid CSS!" />
        </a>
      </td>
    </tr>
  </table>
  <hr/>

</body>

</html>
