
[% name -%]
[% IF year_range != "" -%]
 ([% year_range %])[% -%]
[% END %]

  Father:  [% father %]
  Mother:  [% mother %]

  Siblings:
[% IF n_sibs > 0 -%]
[%   other_i = 0 -%]
[%   other_par.0 = "" -%]
[%   other_rel.0 = "" -%]
[%   other_file.0 = "" -%]
[%   s = 0 -%]
[%   WHILE s < n_sibs -%]
    [% sibs.$s -%]
[%     IF sibs_other_rel.$s != "" -%]
[%       IF sibs_other.$s != other_par.$other_i -%]
[%         other_i = other_i + 1 -%]
[%         other_par.$other_i = sibs_other.$s -%]
[%         other_rel.$other_i = sibs_other_rel.$s -%]
[%         other_file.$other_i = sibs_other_file.$s -%]
[%       END -%]
[%        %](*[% other_i %])
[%     ELSE -%]

[%     END -%]
[%     s = s + 1 -%]
[%   END -%]
[%   IF other_i > 0 -%]
      Other parents of half-siblings:<br/>
[%     s = 0 -%]
[%     WHILE s < other_i -%]
[%       s = s + 1 -%]
        (*[% s %]) [% other_rel.$s %]: [% other_par.$s %]
[%     END -%]
[%   END -%]
[% END -%]

  Children:
[% IF n_children > 0 -%]
[%   c = 0 -%]
[%   parent = "" -%]
[%   WHILE c < n_children -%]
[%     IF c_parent.$c != parent -%]
[%       parent = c_parent.$c -%]
    [% name %] + [% c_parent.$c %]
[%     END -%]
      [% children.$c %]
[%     c = c + 1 -%]
[%   END -%]
[% END -%]

